doctype html
html(lang='en')
    head
        title clipzip
        link(rel='stylesheet' href='https://unpkg.com/mvp.css')
    body
        main
            h1 Login, pl0x.
            a(href='/auth/youtube')
                b auth with youtube API

